---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import LayoutSection2 from "../layouts/LayoutSection2.astro";
---

<Layout title="Transemco | Politicas">
  <Navbar hero={false} />
  <main>
    <div
      class="flex flex-col text-center w-4/5 mx-auto gap-5 my-5 justify-center items-center"
    >
      <h1 class="text-4xl tracking-wider">POLITICAS</h1>
      <p class="text-xl md:w-4/5 text-center">
        Por Razones de Seguridad, Nuestras Políticas se encuentran Firmadas en
        su Información Documentada Original.Osmairo Guillen RolonRepresentante
        Legal-GerenteValledupar, Cesar 30 Abril de 2021
      </p>
    </div>
    <LayoutSection2
      Title="ALCANCE DEL SISTEMA INTEGRADO DE GESTIÓN"
      inverse={true}
      Image="https://static.wixstatic.com/media/066062_6f9a65ca51d84f4e86fbbd269e11c2ce~mv2.jpg/v1/fill/w_610,h_1724,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/066062_6f9a65ca51d84f4e86fbbd269e11c2ce~mv2.jpg"
      Description="Prestación del servicio público de transporte terrestre automotor especial de pasajeros incluido el: suministro de conductores, combustible y mantenimiento; con un sistema integrado de gestión que garantice los resultados previstos usando racionalmente los recursos y logre la mejora continua en el  desarrollo de su actividad, atendiendo las necesidades actuales sin comprometer los de las  generaciones futuras en la ciudad de Valledupar Cesar con operación a nivel local, regional y nacional."
    />

    <LayoutSection2
      Title="POLÍTICA PARA EL CONTROL DE EMERGENCIAS"
      inverse={false}
      Image="https://static.wixstatic.com/media/066062_6f9a65ca51d84f4e86fbbd269e11c2ce~mv2.jpg/v1/fill/w_610,h_1724,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/066062_6f9a65ca51d84f4e86fbbd269e11c2ce~mv2.jpg"
      Description="Transporte Empresarial de la Costa S.A.S., mediante el cumplimiento de los requisitos legales, reglamentarios, los requisitos del cliente y todas las partes interesadas; se compromete en adelantar el plan para la  prevención, detección, mitigación y control de emergencias, con el fin de evitar que las actividades desarrolladas ocasionen amenazas a la salud de los trabajadores, estudiantes, visitantes, contratistas, clientes, usuarios o personas de la comunidad, proporcionando y usando racionalmente los recursos necesarios para lograr el mejoramiento continuo del desempeño del sistema integrado de gestión, incluidos el Plan para el control de las emergencias con estándares Internacionales de Prevención en SST, vial,  Calidad & Medio Ambiente en los servicios ofertados, atendiendo las necesidades actuales sin comprometer los de las  generaciones futuras."
    />
    <LayoutSection2
      Title="POLÍTICA DE TRATAMIENTO DE LA INFORMACIÓN"
      inverse={true}
      Image="https://static.wixstatic.com/media/066062_6f9a65ca51d84f4e86fbbd269e11c2ce~mv2.jpg/v1/fill/w_610,h_1724,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/066062_6f9a65ca51d84f4e86fbbd269e11c2ce~mv2.jpg"
      Description="Transporte Empresarial de la Costa S.A.S., mediante el cumplimiento de los requisitos legales, reglamentarios, los requisitos del cliente y todas las partes interesadas, se compromete a socializar e informar a todo el personal propio y contratistas sobre los peligros y riesgos que se puedan presentar en la operación, en el momento de desplazarse por las vías internas y externas, así mismo; a implementar de conformidad con la normatividad vigente el tratamiento de datos personales en el ejercicio propio de sus funciones legales y para el efecto  requiere la autorización previa, expresa e informada del titular destinando los recursos para tal fin."
    />
    <LayoutSection2
      Title="POLÍTICA DE RESPONSABILIDAD SOCIAL"
      inverse={false}
      Image="https://static.wixstatic.com/media/066062_6f9a65ca51d84f4e86fbbd269e11c2ce~mv2.jpg/v1/fill/w_610,h_1724,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/066062_6f9a65ca51d84f4e86fbbd269e11c2ce~mv2.jpg"
      Description="Transporte Empresarial de la Costa S.A.S., mediante el cumplimiento de los requisitos legales, reglamentarios, ofreciendo a sus clientes y partes interesadas:  un trato justo, cordial y equitativo, orientado siempre por un espíritu de servicio en el cual se evidencia una actitud transparente, de acercamiento y colaboración,  realizando su rendición de cuentas adecuada y oportunamente, atendiendo a la comunidad ante cualquier solicitud, petición, quejas, consultas e informaciones referentes a la administración, a las cuales se les dará respuesta en los términos previstos por la Ley."
    />
    <LayoutSection2
      Title="POLÍTICA DE RESPONSABILIDAD SOCIAL"
      inverse={true}
      Image="https://static.wixstatic.com/media/066062_6f9a65ca51d84f4e86fbbd269e11c2ce~mv2.jpg/v1/fill/w_610,h_1724,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/066062_6f9a65ca51d84f4e86fbbd269e11c2ce~mv2.jpg"
      Description="Transporte Empresarial de la Costa S.A.S., mediante el cumplimiento de los requisitos legales, reglamentarios, ofreciendo a sus clientes y partes interesadas:  un trato justo, cordial y equitativo, orientado siempre por un espíritu de servicio en el cual se evidencia una actitud transparente, de acercamiento y colaboración,  realizando su rendición de cuentas adecuada y oportunamente, atendiendo a la comunidad ante cualquier solicitud, petición, quejas, consultas e informaciones referentes a la administración, a las cuales se les dará respuesta en los términos previstos por la Ley."
    />
    <LayoutSection2
      Title="POLÍTICA DE COMUNICACIÓN"
      inverse={false}
      Image="https://static.wixstatic.com/media/066062_6f9a65ca51d84f4e86fbbd269e11c2ce~mv2.jpg/v1/fill/w_610,h_1724,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/066062_6f9a65ca51d84f4e86fbbd269e11c2ce~mv2.jpg"
      Description="Transporte Empresarial de la Costa S.A.S., se compromete a establecer una política de comunicación informativa adecuada para establecer un contacto permanente y correlativo con sus grupos de interés internos y externos, adoptando mecanismos para que la información llegue a sus grupos de interés de manera integral, oportuna, actualizada, clara, veraz y confiable, bajo las políticas de producción, manejo y circulación de la información, la comunicación de la organización con los clientes y usuarios externos deberá realizarse a través de los canales formales establecidos por la regulación y la ley."
    />

    <LayoutSection2
      Title="POLÍTICA DE CONFIDENCIALIDAD"
      inverse={true}
      Image=""
      Description="Transporte Empresarial de la Costa S.A.S., a través de todo su personal se compromete a guardar discreción y reserva sobre los documentos, hechos e informaciones a las cuales tenga acceso y conocimiento como consecuencia del ejercicio de sus funciones, independientemente de que el asunto haya sido calificado o no como confidencial, salvo que exista autorización por parte de la alta dirección para dar información."
    />

	<LayoutSection2
		Title="POLÍTICA DE PREVENCIÓN DE CONSUMO DE ALCOHOL Y DROGAS"
		inverse={false}
		Image=""
		Description="Transporte Empresarial de la Costa S.A.S., mediante el cumplimiento de los requisitos legales, reglamentarios, los requisitos del cliente y todas las partes interesadas para garantizar la vida de las personas en los protocolos de la prestación del Servicio, ayudará a promover el no uso de sustancias psicoactivas y alcohol como parte de su compromiso de cuidar y proteger la salud y la vida de sus colaboradores y contratistas, para mantener ambientes de trabajo seguros y alcanzar niveles óptimos de calidad, seguridad en las operaciones y con el medio ambiente así como de productividad. Por tanto, se ha definido que los colaboradores y contratistas participen activamente de todos los programas de promoción y prevención que se brinden  en la organización para el cumplimiento de la presente política de igual manera, se establece que el consumo, posesión, comercialización y/o distribución de sustancias alucinógenas, psicoactivas y de alcohol no está permitido en ningún caso en las horas laborales, ya sea dentro o fuera de las instalaciones de la empresa, La empresa podrá realizar pruebas para determinar niveles de consumo de sustancias alucinógenas, psicoactivas y de alcohol entre sus colaboradores y contratistas. El incumplimiento de esta política, así como el no permitir realizar las inspecciones o pruebas, se considera falta grave y en consecuencia la adopción de medidas disciplinarias, inclusive la terminación del contrato de trabajo por justa causa de acuerdo con lo establecido en el Reglamento de Trabajo alineado a la normatividad vigente."
	/>
  </main>
</Layout>
