---
interface Props {
    id: string;
    title: string;
    card1title: string;
    card1text: string;
    card2title: string;
    card2text: string;
}

const {id,title,card1title,card1text,card2title,card2text} = Astro.props;
---

<section id={id}>
    <p class="text-4xl text-center mt-12 uppercase font-semibold">{title}</p>

  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -m-4">
      <div class="p-4 lg:w-1/3">
        <div
          class="h-full bg-white  shadow-2xl px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center hover:-translate-y-4 transition-all hover:ring duration-1000 relative"
        >
          <h2 class="tracking-wide text-2xl font-semibold mb-1 uppercase">{card1title}</h2>
          <p class="leading-relaxed mb-3 text-justify">
            {card1text}
          </p>
        </div>
      </div>
      <div class="p-4 lg:w-1/3">
        <div
          class="h-full bg-white  shadow-2xl px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center hover:-translate-y-4 transition-all hover:ring duration-1000 relative"
        >
          <h2 class="tracking-wide text-2xl font-semibold mb-1 uppercase">{card2title}</h2>
          <p class="leading-relaxed mb-3 text-justify">
            {card2text} 
          </p>
        </div>
      </div>
      <div class="p-4 lg:w-1/3">
        <div
          class="h-full bg-white  shadow-2xl px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center hover:-translate-y-4 transition-all hover:ring duration-1000 relative"
        >
          <h2 class="tracking-wide text-2xl font-semibold mb-1 uppercase">Valores</h2>
          <ul class="leading-relaxed flex flex-col gap-5 mt-10 text-justify">
            <li class="text-lg">1. Respeto por la vida de las personas.</li>
            <li class="text-lg">2. La seguridad vial como Bandera</li>
            <li class="text-lg">3. Pasión por el aprendizaje de la calidad, la prevención y el medio ambiente</li>
            <li class="text-lg">4. El valor de las normas de tránsito.</li>
            <li class="text-lg">5. Honestidad y Credibilidad ante el Cliente y partes interesadas</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
